:root{
   --color-principal: #eeeeee;
   --color-secundario: #555;
   
   --color-principal-opaco: #eeeeee00;
}

body{
   margin: 0;
   font-family: 'Verdana', sans-serif;
}

.linea{
   width: 100%;
   height: 5px;
   background-color: var(--color-secundario);
   border-radius: 5px;
   margin-bottom: 5px;
} 
 
h1,h2,h3{
   margin: 5px;
   color: var(--color-secundario);
}

.h3__eventos{
   color: var(--color-principal);
}

/*HEADER*/

header{
   background-color: var(--color-principal);
   display: flex;
   padding: 10px;
}

header .fcfm{
   width: 100px;
   margin-right: 10px;
   margin-top: 11px
}

header .labmat{
   width: 557px;
}

header div a img{
   width: 100%;
}

.header__movil{
   display: none;
}

@media screen and (max-width: 950px){
   header{
       display: none;
   }
   
   .header__movil{
       display: flex;
       height: 100%;
       width: 100%;
       position: absolute;
   }
   
   .header__movil .logos{
       display: flex;
   }
   
   nav .header__movil .icon-open{
       width: 30px;
       margin: auto 30px auto 15px;
   }
   
   /*nav .navegador .icon-close{
       display: none;
       width: 100%;
       display: flex;
       justify-content: end;
   }*/
   
   nav .navegador .icon-close #close{
       margin-top: 10px;
       margin-right: 30px;
   }
   
   nav .header__movil .logos .fcfm__movil{
       width: 10%;
       height: 100%;
   }
   
   nav .header__movil .logos .labmat__movil{
       width: 40%;
       height: 100%;
   }
   
   nav .header__movil div a img{
       width: 100%;
       height: 100%;
   }
}

/*NAV*/

nav{
   font-family: Oswald, sans-serif;
   height: 24px;
   background-color: var(--color-principal);
   font-weight: bold;
   border-top: 4px solid var(--color-secundario);
   border-bottom: 4px solid var(--color-secundario);
   position: sticky;
   top: 0;
   z-index: 3;
}

nav .navegador{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: start;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

nav .navegador li{
   list-style: none;
   margin: 0 50px 0 20px;
}

nav .navegador li a, nav .navegador li .nav__item, nav .navegador li .nav__item-1{
   text-decoration: none;
   color: var(--color-secundario);
   cursor: pointer;
   padding: 3px 30px;
   transition: background-color 0.5s ease, color 0.5s ease;
}

nav .navegador li a:hover, nav .navegador li .nav__item:hover, nav .navegador li .nav__item-1:hover{
   background-color: var(--color-secundario);
   color: var(--color-principal);
}

nav .navegador li .nav__item, nav .navegador li .nav__item-1{
   cursor: pointer;
}

#open{
   display: none;
}

#close{
   display: none;
}


@media screen and (max-width: 950px){
   nav{
       height: 50px;
   }
   
   nav .navegador{
       display: block;
       position: fixed;
       top: 0;
       right: -200px;
       width: 200px;
       height: 100%;
       background-color: var(--color-principal);
       border-left: 3px solid var(--color-secundario); 
       transition: right 0.5s ease;
   }
   
   #open{
       display: block;
       width: 30px;
       font-size: 30px;
       color: var(--color-secundario);
   }
   
   #close{
       display: block;
       width: 100%;
       font-size: 30px;
       margin-left: 55px;
       margin-top: 10px;
       color: var(--color-secundario);
   }
   
   nav .navegador.dezplazar{
       right: 0;
   }
   
   nav .navegador li{
     margin: 0;
   }
   
   nav .navegador li a, nav .navegador li .nav__item, nav .navegador li .nav__item-1{
       display: block;
       width: 100%;
       padding: 10px 0;
   }
}

/*Menu contextual*/
nav .navegador li .menu__contextual, nav .navegador li .menu__contextual-1{
   display: none;
   position: absolute;
   padding: 0;
   background-color: var(--color-principal);
   border-radius: 5px;
}

nav .navegador li .menu__contextual.block,nav .navegador li .menu__contextual-1.block{
   display: block;
}

#flecha, #flecha-1{
   transition: transform 0.5s ease;
}

#flecha.rotate, #flecha-1.rotate{
   transform: rotate(180deg);
}

nav .navegador li .nav__item.color, nav .navegador li .nav__item-1.color{
   color: var(--color-principal);
   background-color: var(--color-secundario);
}

nav .navegador li .menu__contextual li, nav .navegador li .menu__contextual-1 li{
   margin: 0;
   opacity: 0.8;
}

nav .navegador li .menu__contextual li a, nav .navegador li .menu__contextual-1 li a{
   display: block;
   width: 100%;
   padding: 5px 0;
   width: 170px;
}

nav .navegador li .menu__contextual li a ion-icon, nav .navegador li .menu__contextual-1 li a ion-icon{
   margin-left: 31px;
}

nav .navegador li .menu__contextual-1 li a{
   width: 222px;
}

@media screen and (max-width: 950px){
   nav .navegador li .menu__contextual.block, nav .navegador li .menu__contextual-1.block{
       position: relative;
   }    
   
   nav .navegador li .menu__contextual li a, nav .navegador li .menu__contextual-1 li a{
       width: 100%;
   }
}


/*MAIN*/
 
.main__index{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.main__index main, .main__index aside{
   margin: 10px;
}

.main__index main{
   max-width: 65vw;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.main__index main .main__box{
   max-width: 100%;
   flex-grow: 1;
   flex-basis: min-content;
   min-width: 250px;
}

.main__index .main__box:first-child{
   flex-basis: auto
}

.box__img{
   width: 100%;
   display: flex;
   justify-content: center;
}

.box__img img{
   width: 80%;
   height: 100%;
   border: 3px solid var(--color-secundario);
   border-radius: 10px;
}

@media screen and (max-width: 950px){
   
}

/*aside*/
.main__index aside{
   max-width: 30vw;
}

/* Estilos del slider */
.slider {
    min-width: 312px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Asegúrate de que el slider esté debajo del menú contextual */
}
.slider .list {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img {
    object-fit: cover;
}
.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active {
    width: 30px;
}

@media screen and (max-width: 950px){
   .main__index aside{
       max-width: 90%;
   }
}


/*EQUIPO*/

.main__nosotros{
   margin: 20px;
}

.box__descripciones{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.personal__descripciones{
   max-width: 100%;
   flex-grow: 1;
   flex-basis: min-content;
   min-width: 250px;
}

.box__presentacion{
   display: flex;
   justify-content: space-between;
}

.personal__descripciones .box__presentacion img{
   border: 2px solid #555;
   border-radius: 10px;
   width: 200px;
}

.text-end{
   text-align: end;
}

@media screen and (max-width: 950px){
   .personal__descripciones .box__presentacion img{
     width: 150px;
   }
}

/* Contacto */

/*form{
   background-color: #ededed;
   padding: 20px 0;
   max-width: 500px;
   margin: auto;
   box-shadow: 0px 0px 25px #0007;
}*/

.main__contacto{
   width: 100vw;
   display: flex;
   justify-content: center;
}

.form_input{
   padding: 10px 20px;
}

input, textarea, select{
   width: 100%;
   box-sizing: border-box;
   padding: 6px  12px;
   border: none;
   border-left: 3px solid #666;
   box-shadow: 0px 0px 15px #0001;
   border-radius: 4px;
   background-color: #eeeeee;
}

/*option{
   background-color: #000;  
}*/

textarea{
   min-width: 100%;
   resize: vertical;
   min-height: 100px;
   max-height: 200px;
   font-family: sans-serif;
}

label{
   font-size: 0.88em;
   line-height: 2;
}

.checkbox{
   width: auto;
   height: 10px;
}

.contacto__link{
   color: #69f;
   text-decoration: none;
}

.input__submit {
  width: 40%;
  color: #eeeeee;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #555;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  /*box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;*/
}

.input__submit:active {
   color: #666;
   box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.link--submit:hover{
   background-color: #eeeeee;
   color: #555
}

label:has(input:invalid), input:invalid{
   color: red;
}

@media screen and (max-width: 950px){
   .main__contacto{
       max-width: 100vw;
   }
}

/*EVENTOS*/

.main__eventos{
   display: flex;
   justify-content: center;
   margin: 10px;
   height: 70vh;
}

.eventos__galeria{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 20px;
   max-width: 950px; 
}

.box__galeria1,.box__galeria2, .box__galeria3, .box__galeria4, .box__galeria5, .box__galeria6{
   width: 300px;
   height: 200px;
   display: flex;
}

.eventos__img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

.eventos__display1,.eventos__display2,.eventos__display3,.eventos__display4,.eventos__display5,.eventos__display6{
   display: none;
   position: absolute;
   padding: 10px;
   font-family: Oswald, sans-serif;
}

.eventos__display1.info,.eventos__display2.info,.eventos__display3.info,.eventos__display4.info,.eventos__display5.info,.eventos__display6.info{
   display: blocK;
   background-color: var(--color-secundario);
   color: var(--color-principal);
   width: 280px;
   height: 180px;
   border-radius: 10px;
}

/*FOOTER*/

footer{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   background-color: #555;
   color: #eeeeee;
   padding: 20px;
   justify-content: space-between;
}
