body{
  margin: 0;
  font-family: Verdana, sans-serif;
}

p{
   font-family: Verdana, sans-serif;
   text-align: justify; 
   font-size: 13px;
}

.nav{
   background-color: #eeeeee;
   width: 100vw;
   position: sticky;
   top: 0;
   z-index: 1;
}

.header__compu{
   display: flex;
   width: 100vw;
   /*height: 110px;*/
   background-color: #eeeeee;
   padding: 0;
   padding-bottom: 1px;
}

.header__logo{
   width: 50%;
   margin: 0;
}



h1,h2,h3{
   margin: 0;
   /*padding-top: 15px; */
   padding-left: 15px;
   font-family: Oswald;
   color: #555;
}

h2{
   padding-top: 0;
}

.h2__header{
   border: none;
}


.logo--img{
   display: flex;
   background-color: transparent;
   text-align: end;
   position: relative;
}

.box__img{
   position: absolute;
   top: 0;
   right: 0;
}
   
.link__logo{
   width: 100px;
   color: #000;
   text-decoration: none;
   background-color: transparent;
   margin-right: 20px;
}

.nav__img{
   width: 85px;
   margin: 0;
}

.img--labmat{
   padding-top: 6px;
}

.img--FCFM{
   padding-top: 10px;
}

/* Header movil */

.header__img{
   width: 100vw;
}

/* NAV*/

.nav__list{
   font-family: Oswald;
   margin: 0;
   padding: 0;
   border-top: 4px solid #555;
   border-bottom: 4px solid #555;
   text-align: end;
   height: 52px;
}   

.nav__item{
   display: inline-block;
   margin-right: 15px;
}

.nav__link{
   text-decoration: none;
   display: inline-block;
   padding: 10px;
   background-color: #eeeeee;
}

.nav__link {
  padding: 1em 2em;
  /*border: none;*/
  /*border-radius: 5px;*/
  font-family: Oswald;
  font-weight: bold;
  letter-spacing: 3px;
  /*background: #DCFFFC;*/
  text-transform: uppercase;
  color: #555;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  /*outline: 2px solid #088178;*/
}

.nav__link:hover {
  color: #DCFFFC;
  transform: scale(1);
  /*outline: 2px solid #088178;*/
  /*box-shadow: 4px 5px 17px -4px #088178;*/
}

.nav__link::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #555;
  transform: skewX(30deg);
  z-index: -1;
  transition: width 1000ms;
}

.nav__link:hover::before {
  width: 250%;
  height: 100%;
}

.link--inicio{
   background-color: #555;
   color: #fff;
}

.nav__link:hover{
   background-color: #555;
   color: #eeeeee;
}

.link--inicio:hover{
   background-color: #555;
   color: #eeeeee;
}

.link__logo:hover{
   background-color: #eeeeee;
}

/*css*/
.context-menu-content {
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 244px;
    text-align: center;
  }
.context-menu-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.context-menu-content a:hover{
    background-color: #eeeeee;
    color: #555;
}
.link--menu:hover a{
     background-color: #555;
}
.nav__item:hover .context-menu-content {
    display: block;
}


/* main */
.contenedor{
   margin: 0;
   padding-top: 20px;
   display: flex;
}

.contenedor__box{
   width: 70vw;
   margin: 0;
   padding: 20px;
}

.box__information{
   width: 100%;
   font-size: 22px;
}


.more__about{
   display: flex;
   flex-wrap: wrap;
   row-gap: 10px; /* Espacio vertical de 10px */
   column-gap: 0px; /* Espacio horizontal de 20px */
}

.information--about{
   width: 95%;
   padding: 0 20px;
}

.information--bestiario{
   width: 45%;
   padding: 0 20px;
}

.information--museo{
   width: 250px;
   padding: 0 20px;
}

h2,h3{
   text-align: left;
   border-bottom: 4px solid #555;
   font-size: 2rem;
}

.h2__width{
   width: 100%;
}

.h2__information{
   border: none;
   margin: 0;
   /*padding: 0;*/
}

.information--empty{
   height: 49px;
}

h3{
   margin: 0;
   /*padding: 0;*/
}

.texto__information{
   text-align: justify;
   font-size: 16px;
}
/* Actividades */
.contenedor__noticias{
   width: 30vw;
   padding: 20px;
}

.information--actividades{
   width: 100%;
}

.scroll__img{
  width: 90%;
  height: 185px;/*auto*/
  margin: 10px;
  border: 3px solid #555;
  border-radius: 10px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Para mejorar la experiencia en dispositivos móviles */
}

.actividades__img{
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;/*auto*/
}

.scroll__indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.scroll__indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scroll__indicator.active {
    background-color: #555;
}


/* Actividades novil */

.contenedor__actividades{
   padding-left: 40px;
}

/* Nosotros.html */

.box__nosotros{
   /*display: flex;
   flex-wrap: wrap;
   row-gap: 10px; /* Espacio vertical de 10px */
   /*column-gap: 20px; /* Espacio horizontal de 20px */
   /*position: relative;*/ 
   
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
}

.box__encargados{
   display: inline-block;
   /*max-width: 412px;*/
   min-width: 320px;
   flex: 1;
   
   margin: 0 10px;
   margin-top: 15px;
   position: relative; 
   
}

.box__foto{
   width: 150px;
   border: 1px solid #555;
   border-radius: 10px;
}

.information--nombre{
   text-align: end;
   position: absolute;
   top: 0;
   right: 0;
   font-size: 1.5rem;
}

.information--titulo{
   position: absolute;
   top: 40px;
   right: 0;
   font-size: 1.2rem;
}

.titulo--salto{
   top: 70px;
}

/* Contacto */

/*form{
   background-color: #ededed;
   padding: 20px 0;
   max-width: 500px;
   margin: auto;
   box-shadow: 0px 0px 25px #0007;
}*/

.form_input{
   padding: 10px 20px;
}

input, textarea, select{
   width: 100%;
   box-sizing: border-box;
   padding: 6px  12px;
   border: none;
   border-left: 3px solid #666;
   box-shadow: 0px 0px 15px #0001;
   border-radius: 4px;
   background-color: #eeeeee;
}

option{
   background-color: #000;
   
}

textarea{
   min-width: 100%;
   resize: vertical;
   min-height: 100px;
   max-height: 200px;
   font-family: sans-serif;
}

label{
   font-size: 0.88em;
   line-height: 2;
}

.checkbox{
   width: auto;
   height: 10px;
}

.contacto__link{
   color: #69f;
   text-decoration: none;
}

.input__submit {
  width: 40%;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  /*box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;*/
}

.input__submit:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

label:has(input:invalid), input:invalid{
   color: red;
}


/* Estilos para dispositivos móviles */
/* Nav */
@media screen and (max-width: 853px) {
   .nav{
       width: 0;
       overflow: hidden;
       transition: left 0.5s;
       position: fixed;
       top: 0;
       left: -200px;
       height: 100%;
       background-color: #eeeeee;
       padding-top: 60px;
   }
   
   .nav.abierto{
       width: 220px;
       left: 0;
   }
 
   #movil__button{
        display: block;
        position: fixed;
        top: 15px;
        left: 10px;
        font-size: 24px;
        background:transparent;
        border: none;
        cursor: pointer;
        z-index: 2;
        color: #000000;
    }
    
   .nav__list{
       width: 100%;
       padding: 0;
       margin: 0;
       text-align: start;
       border: none;
   }
   
   .nav__item{
       width: 100%;
   }
   
   .nav__link{
       width: 100%;
   }
   
   .context-menu{
       z-index: 3;
   }
   .item--compu{
       display: none;
   }
}

/* Header */
@media screen and (max-width: 853px){
   /*header{
       padding: 20px;
       padding-top: 25px;
       padding-left: 40px;
   }*/
   .header__movil{
       background-color: #eeeeee;
       position: relative;
       text-align: center;
       padding: 0;
       width:100%;
       position: fixed;
       z-index: 1;
   }
   .header__img{
       max-width: 283px;
       margin-left: 77px;
   }
}

/* Main */
@media screen and (max-width: 768px){
   .contenedor{
       display: block;
       width: 100vw;
       padding-left: 0;
   }
   
   .more__about{
       display: block ;
   }
}

/* Nosotros.html */
@media screen and (max-width: 853px) {
  .box__nosotros {
    display: block;
    width: 100%;
  }

  .contenedor__box{
       width: 85vw;
       padding-left: 29px;
       margin-top:30px;
  }
  
  h2,h3{
       font-size: 1.5rem;
  }

  .box__encargados {
    max-width: 100%;
    margin: 0;
    margin-top: 15px;
    position: relative;
  }

  .box__foto {
    width: 120px;
    border: 1px solid #555;
    border-radius: 10px;
  }
  
  .br__compu{
      display: none;
  }

  .information--nombre,
  .information--titulo {
    text-align: end;
    position: absolute;
    top: 0;
    right: 0;
  }

  .information--titulo {
    top: 40px;
  }

  .titulo--salto {
    top: 70px;
  }
  
  p{
    font-size: 16px; 
  }
}

/* Actividades.html */
@media screen and (max-width: 853px) {
  .contenedor_noticias{
     display: none;
  }
  
  .contenedor__actividades{
    width: 100vw;
    padding: 20px;
  }

  .box__information {
    width: 100%;
    padding: 0;
  }

  .scroll__img {
    width: 90%;
    height: auto;
    margin: 10px;
    border: 3px solid #555;
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .actividades__img {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
  }
  
  .contenedor__noticias{
       display: none;
  }
  .header__compu{
       display: none;
  }
}

@media screen and (min-width: 853px) {
   #movil__button{
       display: none;
   }
   .item--movil{
       display: none;
   }
   .header__movil{
       display: none;
   }
   .br__movil{
       display: none;
   }
}



