@font-face{
   font-family:"Ubuntu-Mono";
   src: url("fonts1/UbuntuMono-Italic.ttf") format("truetype");
   font-weight: 300;
}


@font-face{
   font-family:"Ubuntu-Mono";
   src: url("fonts1/UbuntuMono-Regular.ttf") format("truetype");
   font-weight: 500;
}

@font-face{
   font-family:"Ubuntu-Mono";
   src: url("fonts1/UbuntuMono.BoldItalic.ttf") format("truetype");
   font-weight: 700;
}

@font-face{
   font-family:"Ubuntu-Mono";
   src: url("fonts1/UbuntuMono-Bold.ttf") format("truetype");
   font-weight: 900;
}

