:root{
  --color-primario: #eeeeee;
  --color-secundario: #555;
}


/* Para navegadores basados en WebKit (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
  display: none;
}

/* Para Firefox */
html {
  scrollbar-width: none;
}

/* Para Internet Explorer y Edge antiguos */
body {
  -ms-overflow-style: none;
}


body{
  margin: 0;
  display: flex;
  box-sizing: border-box;
  text-align: justify;
}

/*HEADER*/

header{
  width: 170px;
  height: 100vh;
  background-color: var(--color-primario);
  border-right: 3px solid var(--color-secundario);
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header div div{
  width: 100%;
  height: 170px;
}

header div div a{
  display: flex;
  justify-content: center;
  height: 100%;
}

header .logos{
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 5px;
}

header .logos a{
  display: block;
  width: 80px;
}

header div div a img, header .logos a img{
  width: 90%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

header ul{
  width: 100%;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

header ul li{
  font-family: Oswald, sans-serif;
  border-top: 1px solid var(--color-secundario);
  border-bottom: 1px solid var(--color-secundario);
  color: var(--color-secundario);
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
}

.ubicacion{
  color: var(--color-primario);
  background-color: var(--color-secundario);
}

header ul li:hover{
  background-color: var(--color-secundario);
  color: var(--color-primario);
}

header ul li a{
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  width: 100%;
  height: 100%;
}

ion-icon {
  font-size: 12px;
  color: var(--color-secundario);
  cursor: pointer;
  transition: color ease-in-out 0.5s;
}

.ubicacion ion-icon{
  color: inherit;
}

header ul li a ion-icon{
  margin: 0 5px 0 5px;
}

header ul li:hover ion-icon{
  color: var(--color-primario);
}

/*HEADER MOVIL*/

.header__movil{
  display: none;
}

#open-icon,#close-icon{
  display: none;
}

.close-icon{
  display: none;
}

/*Artículo*/

.Articulo{
  width: 100%;
}

/*MAIN*/

main{
   padding: 0px 20px 15px 20px;
}

@media (max-width: 992px) {
  /* Tablets y laptops pequeñas */
}

@media (max-width: 844px) {
  /* Tablets y dispositivos horizontales 768px*/
  body{
    display: block;
  }
  
  header{
    left: -170px;
    z-index: 2;
    position: fixed;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header__movil{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 40px;
    background-color: var(--color-primario);
    position: sticky;
    top: 0;
  }
  header.desplazar{
    left: 0px;
  }
  .header__movil a img{
    height: 100%;
    width: 40px;
    aspect-ratio: 16/9;
    object-fit: contain;
  }
  
  #open-icon, #close-icon{
    display: block;
    font-size: 40px;
    margin-left: 5px;
  }
  
  /*.close-icon{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
  }*/
}

@media (max-width: 576px) {
  /* Teléfonos móviles */
}

@media (max-width: 360px) {
  /* Teléfonos pequeños */
}

/*Main Index*/

h1, h2, h3{
  color: var(--color-secundario);
  font-family: Oswald, sans-serif;
}

h1{
  font-size: 3rem;
}

p{
  font-family: 'Roboto', Verdana, sans-serif;
}

/*Box github*/

/* From Uiverse.io by ilkhoeri */ 
.card {
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #c5c5c5;
  border-radius: 12px;
  background-color: #fff;
  backdrop-filter: blur(8px);
  min-width: 250px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
  border: 0.5px solid #525252;
  border-radius: 8px;
  overflow: hidden;
}
.terminal {
  display: flex;
  flex-direction: column;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-height: 40px;
  padding-inline: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--color-secundario);
}
.title {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 2.5rem;
  user-select: none;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-primario);
}
.title > svg {
  height: 18px;
  width: 18px;
  margin-top: 2px;
  color: var(--color-primario);
}
.copy_toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border: 0.65px solid #c1c2c5;
  margin-left: auto;
  border-radius: 6px;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  cursor: pointer;
}
.copy_toggle > svg {
  width: 20px;
  height: 20px;
}
.copy_toggle:active > svg > path,
.copy_toggle:focus-within > svg > path {
  animation: clipboard-check 500ms linear forwards;
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow-x: auto;
  padding: 0.5rem;
  line-height: 19px;
  color: var(--color-secundario);
  background-color: var(--color-primario);
  white-space: nowrap;
}
.pre {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-wrap: nowrap;
  white-space: pre;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 16px;
}
.pre code:nth-child(1) {
  color: #575757;
}
.pre code:nth-child(2) {
  color: #060;
}
.cmd {
  height: 19px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cmd::before {
  content: attr(data-cmd);
  position: relative;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  animation: inputs 8s steps(22) infinite;
}
.cmd::after {
  content: "";
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  border-right: 0.15em solid #e34ba9;
  animation: cursor 0.5s step-end infinite alternate, blinking 0.5s infinite;
}

@keyframes blinking {
  20%,
  80% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}
@keyframes cursor {
  50% {
    border-right-color: transparent;
  }
}
@keyframes inputs {
  0%,
  100% {
    width: 0;
  }
  10%,
  90% {
    width: 50%;
  }
  30%,
  70% {
    width: 100%;
    max-width: max-content;
  }
}
@keyframes clipboard-check {
  100% {
    color: #fff;
    d: path(
      "M 9 5 H 7 a 2 2 0 0 0 -2 2 v 12 a 2 2 0 0 0 2 2 h 10 a 2 2 0 0 0 2 -2 V 7 a 2 2 0 0 0 -2 -2 h -2 M 9 5 a 2 2 0 0 0 2 2 h 2 a 2 2 0 0 0 2 -2 M 9 5 a 2 2 0 0 1 2 -2 h 2 a 2 2 0 0 1 2 2 m -6 9 l 2 2 l 4 -4"
    );
  }
}

/*Main galería*/

.box__galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.box__galeria img{
  max-width: 250px;
  border-radius: 20px;
}

.box__galeria img:hover{
  opacity: 0.75;
  transform: scale(1.1);
}

/*FOOTER*/

footer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #555;
  color: #eeeeee;
  padding: 20px;
  justify-content: space-between;
}

.redes-sociales{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   align-items: center;
}

.sociales--contacto{
   justify-content: left;
   padding: 0;
}

.redes-sociales li a{
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.redes-sociales li a ion-icon{
   width: 30px;
   font-size: 30px;
   color: var(--color-primario);
   transition: color 0.5s ease;
}

.redes-sociales li a .directorio{
   color: var(--color-secundario);
}

.redes-sociales li a .logo-facebook:hover{
   color: #3b5998;
}

.redes-sociales li a .logo-instagram:hover{
   color: linear-gradient(45deg,#405de6,#5b51db,#b33ab4,#c135b4,#e1306c,#fd1f1f);
}

.redes-sociales li a .logo-github:hover{
   color: #24262a;
}
